#index {
	background-image: url("../img/door.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0px;
	height: 100vh;
	width: 100vw;
	color: white;
	position: relative;
	overflow: hidden;
}

.index-main {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}


.index-main div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text__title {
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 10px;
	font-weight: bold;
}

.index__text {
	position:relative;
}

.index__text span:last-child {
	font-size: 20px;
	margin-bottom: 20px;
}

.index__text i {
	font-size: 40px;
}

.index__text a {
	margin: 30px 10px;
	padding: 15px 5px;
	text-decoration: none;
	position: relative;
	font-weight: bold;
	font-size: 25px;
}

.index__text a:hover {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 3px 5px;
	border-radius: 5px;
	font-size: 30px;
}

.index__text a:nth-child(2) {
	color: orange;
}

.index__text a:nth-child(3) {
	color: black;
}

.index__text a:nth-child(4) {
	color: red;
	-webkit-text-stroke-color: black;
	padding: 0px 3px;
}


.index__input input {
	width: 600px;
	height: 50px;
	border-radius: 10px;
	padding: 0 30px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 25px;
	position: relative;
}

.index__input input:focus {
	outline: none;
}

.index__input button {
	border:none;
	background-color: white;
	position: absolute;
	margin-left: -150px;
	margin-top: 15px;
	font-size: 20px;
}

header img {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
}

.index__text .index__borcode i {
	text-align: right;
	position: absolute;
	transform:rotate(90deg);
	top: 0;
	right: 0;
	margin-top: 10px;
	font-size: 90px;
	color: white;
}